
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  
}


.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.estra-logo {
  width: 10%;
  height: 40%;
  margin: 0;
  left: 0;
}
.list-text {
  color: gray;
}

.relative1 {
  position: relative;
}

.firstview {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.absolute1 {
  position: absolute;
  top: 10%;
  left: 30%;
  font-size: 50px;
}

.absolute2 {
  position: absolute;
  top: 60%;
  left: 30%;
  font-size: 30px;
}
.span1 {
  color:#b31566 ;
}

.span2 {
  color:#049fb3 ;
}

.text1 {
  font-size: 25px;
  font-weight: bold
}

.text2{
  font-size: 15px;
  color: #CCCCCC;
}

.relative2 {
  position: relative;
}

.absolute3{
  position: absolute;
  left: 25%;
}


.text3 {
  color: #CCCCCC;
  font: 10px;
}

.text4 {
  font-weight: bold;
  color:#777777 ;
  font-size: large;
}

dl {
  width: 1000px;

}

dt {
  
  border-bottom: 1px solid #ccc;
  float: left;
  padding: 10px 5px;
}

.news {
  background-color:#b31566;
  border-radius: 30px;
  color: #fff;
  margin: 0 20px;
  padding: 5px 15px;
  text-decoration: none;
}

.news__lists {
  list-style: none;
  padding: 0;
}



.news__list {
  padding: 1rem 0;
  border-bottom: 1px solid;
}

.section2 {
  margin: 0 auto;
  width: 85%;
}

.section3 {
  background-color: #EEEEEE;
}

p {
  text-align: center;
}


.flex1 {
  display: flex;
  justify-content: space-around;
}

.img-about {
  width: 30%;
  height: 20%;
}

.span3 {
  color: #b31566;
  font-weight: lighter;
}

.span4 {
  color: #808080;
  font-weight: bolder;
}

.grid1 {
  width: 60%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 400px 400px;
}


.service_grid_item_first {
  background-color: #b31566;
  grid-column: 1/2;
  grid-row: 1/3;
}

.service_grid_item_second {
  background-color: #CC33CC;
  grid-column: 2/3;
  grid-row: 1/2;
}

.service_grid_item_third {
  background-color: #CC33FF;
  grid-column: 2/3;
  grid-row: 2/3;
}

.section4 {
  background-color: #EEEEEE;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100px;
  height: auto;
}

.card {
  width: 20%;
  cursor: pointer;
  border: 1px solid #e9eaea;
  border-radius: 3px;
}

.text-box {
  padding: 15px;
}

.content-img {
  padding: 10px 0;
  text-align: center;
  background: #e1f3ff;
}

.date {
  font-size: 10px;
  margin-top: 5px;
}
.bottom-flex {
  display: flex;
  justify-content: space-between;
}

.ichiran__btn {
  width: 200px;
  padding: 10px 0;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  color: #b31566;
  margin: 100px auto 0;
  display: block;
  border: #b31566 1px solid;;
}

table {
  width: 40%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

table th {
  font-weight: bold;
  background-color: #dedede;
}

.table-position {
  position: relative;
  left: 25%;
  top:30% ;

}

.backscrean {
  display: flex;
}

.back-screen1 {
  background-image: url(../img/recruit.png);
}

.back-screen2 {
  background-image: url(../img/interview.png);
}